<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".feature.createimage.EnlargeImageActivity"
            android:exported="false" />
        <activity
            android:name=".feature.credithistory.CreditHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".feature.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".feature.iap.IAPActivity"
            android:exported="false" />
        <activity
            android:name=".feature.main.create.HistoryPromptActivity"
            android:exported="false" />
        <activity
            android:name=".feature.finalize.FinalizeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.createimage.CreateImageActivity"
            android:exported="false" />
        <activity
            android:name=".feature.main.create.EnterPromptActivity"
            android:exported="false" />
        <activity android:name=".feature.gallery.GalleryActivity" />
        <activity
            android:name=".feature.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustNothing"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".feature.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Firebase Cloud Messaging -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/tools_theme" />

        <service
            android:name=".service.FirebaseFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Firebase Cloud Messaging -->
        <!-- Admob -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/key_application_id" />
    </application>

</manifest>